body{font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;}
/* about styles */
/* main styles */
.main{display:flex;
flex-direction: row-reverse;
width: 1200px;
margin: 0 auto}

/* main_content */
.main_content{background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
padding:105px 90px
}

.about{margin-bottom: 40px;}
.position{ color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
}
.name{ color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
}
.info-about{color: #595959;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        width: 400px;
}

/* projects styles */
.projects{margin-bottom: 50px;   
}
.project_title{font-size: 45px;color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
margin-bottom: 10px;}

.projects-list{
    padding: 0;
    margin-left: 15px;
}
.project-item, .breckets{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}
.links, .project-link{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.project-link{
    margin-left: 10px;
}

/* work styles */

.position{font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
margin-bottom: 10px;}
.company{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;}
.period{font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
margin-bottom: 8px;}
.symbol{font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px; 
    color: #000000;}
.work-list{padding: 0;
    margin-left: 15px;
    }
.work-list-item{font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;}


/* education styles */

.university{font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;}


/* Sidebar style */
.sidebar{background-color: #1E2939;
padding-top: 40px;
width: 370px;}
.photo{width: 370px;
margin-bottom: 50px;}
.contacts, .tech-skills, .soft-skills{margin-left: 48px;}
.contacts{margin-bottom: 50px;}
.tech-skills{margin-bottom: 45px;}
.degree{font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;    
    color: #000000;}
/* side bar titles style */
.sidebar-titles{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    margin-bottom: 10px;}
/* contact type style */
.contact-type{color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;}
    /* contact link-style */
    .contact-link{font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px; 
        color: #565E6A;}
/* side bar info style */
.info{color: #FFFFFF;
   padding:0px ;
   margin-left: 15px;}
    .skills-item{color: #FB6D3A;}
     .skills-text{color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;}
